<p id="notice"><%= notice %></p>

<h1>Post</h1>

<hr/>

<h3><%= @post.title %></h3>

<div class="post-description">
  <%= simple_format @post.description %>
</div>

<div class="float-right">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', posts_path %>
</div>

<div class="post-comments">
  <h3>Comments</h3>

  <% if @comments.any? %>
    <ul class="comments-list">
      <%= render @comments %>
    </ul>
  <% end %>

  <%= render 'comments/form', post: @post %>
</div>
